<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.ur.mi.fashionapp">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.CAMERA"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

  <meta-data
      android:name="com.parse.APPLICATION_ID"
      android:value="TWxq1vLfTKthoZe7ZT2QaWd3EVjMFB4GN2QEjfkf"/>
  <meta-data
      android:name="com.parse.CLIENT_KEY"
      android:value="GqctpYG2rJTGmf9vQxdRfG582D8dg01i1PnbBadS"/>

  <application
      android:allowBackup="true"
      android:name=".util.ParseApplication"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
    <activity
        android:name=".login.LoginActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:noHistory="true">
      <intent-filter
          android:label="@string/app_name">
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
        android:name=".wardrobe.WardrobeActivity"
        android:label="@string/title_activity_wardrobe">
    </activity>
    <activity
        android:name=".settings.SettingsActivity"
        android:label="@string/title_activity_settings">
    </activity>
    <activity
        android:name=".edit.piece.EditPieceActivity"
        android:label="@string/title_activity_create_piece">
    </activity>
    <activity
        android:name=".edit.outfit.EditOutfitActivity"
        android:label="@string/title_activity_create_outfit">
    </activity>
    <activity
        android:name=".detail.PieceDetailActivity"
        android:label="@string/title_activity_piece_detail"
        android:parentActivityName=".wardrobe.WardrobeActivity"
        android:theme="@style/AppTheme">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value="de.ur.mi.fashionapp.wardrobe.WardrobeActivity"/>
    </activity>
    <activity
        android:name=".detail.OutfitDetailActivity"
        android:label="@string/title_activity_outfit_detail"
        android:parentActivityName=".wardrobe.WardrobeActivity"
        android:theme="@style/AppTheme">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value="de.ur.mi.fashionapp.wardrobe.WardrobeActivity"/>
    </activity>
    <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
  </application>

</manifest>
